<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

<img src="img\header2.png" width="100%">
    <!-- Web page title-->
    <title>Expired Certifications</title>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="index.html"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Members
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="AddMember.html">Add Member</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="profiles.html">Member Profiles</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="memberlist">Member List</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="EditMember.html">Edit Member Records</a>
      </div>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Certifications
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="OCFRcertifications.html">Certification List</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="editCert.html">Edit Certifications</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="AddCertification.html">Create Certifications</a>
      </div>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="ViewCertification.html" id="DropDown">Members' Certifications</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Reports
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="memberlist.html">Members List</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="expired.html">Expired Certifications</a>
      </div>
      </li>
      </ul>
      </div>
      </nav>



  </head>

  <!-- Clickable button that downloads .csv file with names of all recently expired certifications-->


      <h1>Expired Certifications</h1>

    <div id="displayExpiredCertApp" class="container-fluid">

          <table id="expiredCert" class="table-format sort table table-hover ">
          <thead>
            <tr>
              <th scope="col">Member ID</th>
              <th scope="col">Member Name</th>
              <th scope="col">Certification</th>
              <th scope="col">Date Expired</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="r in expiredCertRecordList">
              <td>{{ r.memberID }}</td>
              <td>{{ r.last_name }}, {{ r.first_name }}</td>
              <td>{{ r.name }}</td>
              <td>{{ r.expiration }}</td>
            </tbody>
          </table>
<br><br><br>

<h2>View Expired by Certification</h2>
<div>
          <select id="form4" class="form-control"  v-model="selectedCert">
                <option v-for="index in expiredCertRecordList" v-on:change="expiredCertRecordList=index" :value="index">{{index.certificationID}} {{index.name}}</option>
            </select>

            <table v-if="selectedCert">

                    <table  class="sort table table-hover">
                      <thead>
                        <tr>
                          <th>Member ID<th>
                          <th>Member Name</th>
                          <th>Expiration Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ selectedCert.memberID }}</td>
                          <td></td>
                          <td>{{ selectedCert.last_name }}, {{ selectedCert.first_name }}</td>
                          <td>{{ selectedCert.expiration }}</td>
                        </tbody>
                      </table>
                    </div>




    </div>
    <!-- Copyright info-->
    <p class="mt-5 mb-3 text-muted">© Team 21, LLC. 2020</p>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/expiredCert.app.js"></script>
    <!--Table sort plugins from http://tristen.ca/tablesort/demo/ -->
    <!-- <script src='js/tablesort.number.min.js'></script> -->
    <script src="js/tablesort.min.js"></script>
    <!-- Table sort plugin from http://tristen.ca/tablesort/demo/ -->
    <script>new Tablesort(document.getElementById('expiredCert'));</script>

  </body>
</html>
